.intro {
  margin-top: 1em;
}

.toggle {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-size: 0.8em;
}

.toggle::after {
  content: '▼';
}

.toggle.collapsed::after {
  padding-left: 0.2em;
  content: '▸';
}

.inner.collapsed {
  display: none;
}
