.intro {
  margin-bottom: 1.6em;
  text-align: center;
}

.toggle {
  font-size: 1.2em;
}

.expanded {
  composes: collapsingLink from '../components/base.css';
}

.collapsed {
  composes: expandingLink from '../components/base.css';
}

.inner {
  text-align: left;
  margin-top: 1em;
}

.inner.collapsed {
  display: none;
}
