/*
 * Classes and variables for use in other component stylesheets.
 *
 * See https://github.com/css-modules/postcss-icss-values for more on how
 * the value definitions work.
 *
 * See https://github.com/css-modules/css-modules#composition for more on
 * how classes can be composed from other casses using CSS modules' `composes`
 * keyword.  This is similar to mixins in Sass.
 */


@value darkGray, highlightColor from '../colors.css';

/*
 * This matches the style from the chicagoreporter.com stylesheet.
 * We need to mention it explicitely to reset font size on some elements,
 * such as `<ul>` that are overriden in the site template stylesheet.
 */
@value bodyFontSize: 16px;

.button {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: #3d9999;
  padding: 0.5em 1.5em;
  font-family: "Open Sans Condensed", sans-serif;
}

.button:hover {
  text-decoration: none;
  color: #fff;
  background-color: #28aeae;
}

.buttonStrong {
  text-transform: uppercase;
  font-weight: 700;
  background-color: #000;
}

.buttonStrong:hover {
  background-color: #c30;
}

.toggleLink {
  display: block;
  border: none;
  padding: 0;
  width: 100%;
  text-align: center;
  text-decoration: none;
  font-size: 0.8em;
  background: none;
  font-family: sans-serif;
}

.toggleLink::after {
  position: relative;
  top: 0.5em;
  margin-left: 0.25em;
  font-size: 2em;
}

.expandingLink {
  composes: toggleLink;
}

.expandingLink::after {
  content: '˅';
}

.collapsingLink {
  composes: toggleLink;
}

.collapsingLink::after {
  content: '˄';
}

.filterButton {
  display: inline-block;
  text-decoration: none;
  margin-right: 0.8em;
  margin-bottom: 0.4em;
  padding: 0.3em;
  white-space: nowrap;
  border: 1px solid black;
  background-color: #fff;
  color: #000;
  font-size: 0.8em;
  font-family: sans-serif;
}

.filterButtonSelected {
  color: white;
  background-color: #000;
}

.label {
  text-transform: uppercase;
  font-size: 0.8em;
  margin-bottom: 0.6em;
}

.borderTop {
  border-top: 4px solid highlightColor;
}

.socialIcon path {
 fill: darkGray;
}
