@value notImplemented, babySteps, partiallyImplemented, partiallyImplementedText, implemented, unclear, unclearText from '../colors.css';

.filter {
  composes: filterButton from './base.css';
}

.filterSelected {
  composes: filterButton from './base.css';
  composes: filterButtonSelected from './base.css';
}

.filterSelected.notImplemented {
  background-color: notImplemented;
}

.filterSelected.babySteps {
  background: babySteps;
}

.filterSelected.partiallyImplemented {
  background-color: partiallyImplemented;
  color: partiallyImplementedText;
}

.filterSelected.implemented {
  background-color: implemented;
}

.filterSelected.unclear {
  background-color: unclear;
  color: unclearText;
}
