.control {
  composes: filterButton from './base.css';
}

.controlSelected {
  composes: filterButton from './base.css';
}

.controlSelected.ascending::after {
  content: '\25B2';
  margin-left: 0.5em;
}

.controlSelected.descending::after {
  content: '\25BC';
  margin-left: 0.5em;
}
