@value notImplemented, planned, partiallyImplemented, partiallyImplementedText, implemented, unclear, unclearText, highlightBlockBackground, highlightBlockBackgroundDarker, bodyText from '../colors.css';
@value breakpointLg, sansSerifFontStack from './base.css';

.gist {
  /* Make space for the permalink */
  max-width: 92%;
  margin-top: 0;
  margin-bottom: 1.2em !important;
}

@value recommendationPadding: 2em;
@value recommendationPaddingLg: 2.6em;

.recommendation {
  position: relative;
  padding: recommendationPadding;
  margin-bottom: 2em;
  border-top: 4px solid;
  background-color: highlightBlockBackground;
}


.recommendation.notImplemented {
  border-top-color: notImplemented;
}

.recommendation.planned {
  border-top-color: planned;
}

.recommendation.partiallyImplemented {
  border-top-color: partiallyImplemented;
}

.recommendation.implemented {
  border-top-color: implemented;
}

.recommendation.unclear {
  border-top-color: unclear;
}

.permalink {
  position: absolute;
  top: recommendationPadding;
  right: recommendationPadding;
}

@media (min-width: breakpointLg) {
  .recommendation {
    padding: recommendationPaddingLg;
  }

  .permalink {
    top: recommendationPaddingLg;
    right: recommendationPaddingLg;
  }
}

.expansion {
  margin-top: 1em;
}

.expansion.collapsed {
  display: none;
}

.specific {
  font-size: 1.2em !important;
  /* And a bottom border, padding and margin to separate the elements even
     further */
  border-bottom: 2px solid highlightBlockBackgroundDarker;
  padding-bottom: 1em;
  margin-bottom: 2em;
}

.specific p {
  /*
   * Override default theme font size for paragraphs.
   */
  font-size: 1.2em;
  line-height: 1.2em;
}

/*
 * Reset first letter styles from theme.
 */
.specific p::first-letter {
  color: bodyText !important;
  float: none !important;
  padding: 0 !important;
  font-family: sansSerifFontStack !important;
  font-size: 1em !important;
  line-height: 1em !important;
}

.propertyList {
  overflow: hidden;
  /* Reset dl styles from theme. */
  margin-bottom: 0;
}

.propertyGroup.solo {
  margin-bottom: 1em;
  text-align: left !important;
}

@media (min-width: 700px) {
  .propertyGroup {
    float: left;
    width: 33%;
    text-align: center;
  }

  .propertyGroup:first-child {
    text-align: left;
  }

  .propertyGroup:last-child {
    text-align: right;
  }
}

.label {
  composes: label from './base.css';
}

.value {
  margin-left: 0;
  /* Reset dd font styles from the theme. */
  font-weight: normal;
}

.propertyGroup:first-child .value {
  margin-bottom: 0.5em;
}

.hidden {
  display: none;
}

.status {
  display: inline-block;
  padding: highlightValuePadding;
  color: white;
}

.status.notImplemented {
  background-color: notImplemented;
}

.status.planned {
  background-color: planned;
}

.status.partiallyImplemented {
  background-color: partiallyImplemented;
  color: partiallyImplementedText;
}

.status.implemented {
  background-color: implemented;
}

.status.unclear {
  background-color: unclear;
  color: unclearText;
}

.lastUpdated {
  display: inline-block;
  font-size: 0.8em;
  text-transform: none;
  padding-top: 0.6em;
}

.label.lastUpdated::after {
  content: ':';
  margin-right: 0.4em;
}

.value.lastUpdated {
  margin-bottom: 0;
}

/* Padding for special properties that we want to show up like buttons. */
@value highlightValuePadding: 0.4em;

.category {
  padding-top: highlightValuePadding;
  padding-bottom: highlightValuePadding;
  font-weight: bold;
}

.showMoreCtaContainer {
  text-align: center;
}
