@value notImplemented, babySteps, partiallyImplemented, implemented, unclear from '../colors.css';

.gist {
  margin-top: 0;
  margin-bottom: 0;
}

.recommendation {
  padding: 2em;
  margin-bottom: 2em;
  border-top: 4px solid;
  background-color: #F2F3F4;
}

.expansion.collapsed {
  display: none;
}

.recommendation.notImplemented {
  border-top-color: notImplemented;
}

.recommendation.babySteps {
  border-top-color: babySteps;
}

.recommendation.partiallyImplemented {
  border-top-color: partiallyImplemented;
}

.recommendation.implemented {
  border-top-color: implemented;
}

.recommendation.unclear {
  border-top-color: unclear;
}

.propertyList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.label {
  composes: label from './base.css';
}

.value {
  margin-left: 0;
  margin-bottom: 1em;
}

.category {
  margin-top: 1em;
}

.status {
  display: inline-block;
  padding: 0.4em;
  color: white;
}

.status.notImplemented {
  background-color: notImplemented;
}

.status.babySteps {
  background-color: babySteps;
}

.status.partiallyImplemented {
  background-color: partiallyImplemented;
}

.status.implemented {
  background-color: implemented;
}

.status.unclear {
  background-color: unclear;
}
