.toggle {
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 0.8em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.expanded {
  composes: collapsingLink from './base.css';
}

.collapsed {
  composes: expandingLink from './base.css';
}
