@value notImplemented, planned, partiallyImplemented, implemented, unclear  from '../colors.css';

.legend {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 0.8em;
}

.item {
  margin-bottom: 0.2em;
}

.color,
.label {
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;

}

.color {
  width: 1em;
  height: 1em;
}

.label {
  margin-left: 0.6em;
  font-size: 1em;
}

.color.implemented {
  background-color: implemented;
}

.color.planned {
  background-color: planned;
}

.color.partiallyImplemented {
  background-color: partiallyImplemented;
}

.color.notImplemented {
  background-color: notImplemented;
}

.color.unclear {
  background-color: unclear;
}
