@value breakpointLg from './base.css';

.tracker {
  text-align: left;
  font-family: sans-serif;
}

.figure {
  margin: 0;
}

@media (min-width: breakpointLg) {
  .tracker {
    max-width: breakpointLg;
    margin: 0 auto;
  }
}
