$not-implemented-color: pink;
$partially-implemented-color: orange;
$implemented-color: green;
$unclear-color: gray;

@mixin sans-serif-font() {
  font-family: sans-serif;
}

.tracker-container {
  @include sans-serif-font;
}

.category__name a {
  text-decoration: none;

  &::after {
    content: '▼';
  }
}

.category__name--collapsed a {
  &::after {
    padding-left: 0.2em;
    content: '▸';
  }
}

.recommendation {
  padding: 4em;
  margin-bottom: 4em;
}

.recommendation--not-implemented {
  background-color: $not-implemented-color;
}

.recommendation--partially-implemented {
  background-color: $partially-implemented-color;
}

.recommendation--implemented {
  background-color: $implemented-color;
}

.recommendation--unclear {
  background-color: $unclear-color;
}

.recommendation--collapsed {
  display: none;
}


.recommendation__status {
  margin-bottom: 1em;
}

.recommendation__updates {
  padding-left: 0;
}

.agencies {
  padding-left: 0;
}

.agency {
  display: inline-block;
  border: 1px solid black;
  padding: 0.4em;
  list-style-type: none;
}

.update {
  list-style-type: none;
}
