.category__name a {
  text-decoration: none;

  &::after {
    content: '▼';
  }
}

.category__name--collapsed a {
  &::after {
    padding-left: 0.2em;
    content: '▸';
  }
}

.recommendation--collapsed {
  display: none;
}

.recommendation {
  padding: 1em;
}

.recommendation__status {
  margin-bottom: 1em;
}

.recommendation__updates {
  padding-left: 0;
}
