$not-implemented-color: pink;
$partially-implemented-color: orange;
$implemented-color: green;
$unclear-color: gray;

@mixin sans-serif-font() {
  font-family: sans-serif;
}

.tracker-container {
  text-align: center;
  @include sans-serif-font;
}

.tracker {
  text-align: left;
}

@media (min-width: 768px) {
  .tracker {
    max-width: 768px;
    margin: 0 auto;
  }
}

.status-chart {
  width: 100%;

  &:after {
    // Clear children
    content: "";
    display: table;
    clear: both;
  }
}

.status-chart-legend__item {
  display: inline-block;
  margin-bottom: 0.2em;
  margin-right: 1em;
}

.status-chart-legend__color,
.status-chart-legend__label {
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;

}

.status-chart-legend__color {
  width: 1em;
  height: 1em;
}

.status-chart-legend__label {
  margin-left: 0;
  font-size: 0.6em;
}

.status-chart-legend__color--implemented {
  background-color: $implemented-color;
}

.status-chart-legend__color--partially-implemented {
  background-color: $partially-implemented-color;
}

.status-chart-legend__color--not-implemented {
  background-color: $not-implemented-color;
}

.status-chart-legend__color--unclear {
  background-color: $unclear-color;
}

.status-chart__bar {
  position: relative;
  float: left;
  color: white;
  min-height: 4em;
}

.status-chart__bar--not-implemented {
  background-color: $not-implemented-color;
}

.status-chart__bar--partially-implemented {
  background-color: $partially-implemented-color;
}

.status-chart__bar--implemented {
  background-color: $implemented-color;
}

.status-chart__bar--unclear {
  background-color: $unclear-color;
}

.status-chart__bar-label {
  padding: 0.1em;
  font-size: 0.8em;
}

.filter-set {
  text-align: center;
}

.status-filter {
  display: inline-block;
  text-decoration: none;
  padding: 0.5em;
  white-space: nowrap;
}

.status-filter--selected {
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

.status-filter--not-implemented {
  &.status-filter--selected {
    border-bottom-color: $not-implemented-color;
  }
}

.status-filter--partially-implemented {
  &.status-filter--selected {
    border-bottom-color: $partially-implemented-color;
  }
}

.status-filter--implemented {
  &.status-filter--selected {
    border-bottom-color: $implemented-color;
  }
}

.status-filter--unclear {
  &.status-filter--selected {
    border-bottom-color: $unclear-color;
  }
}

.category__name a,
.recommendation__gist a {
  text-decoration: none;
  color: black;

  &::after {
    content: '▼';
  }
}

.category__name--collapsed a,
.recommendation__gist--collapsed a {
  &::after {
    padding-left: 0.2em;
    content: '▸';
  }
}

.recommendation {
  padding: 2em;
  margin-bottom: 2em;
  border-top: 4px solid;
  background-color: #F2F3F4;
}

.recommendation--collapsed {
  .recommendation__status,
  .recommendation__specific,
  .agencies,
  .recommendation__updates {
    // Hide everything but the gist when a recommendation is collapsed
    display: none;
  }
}

.recommendation--category-collapsed,
.recommendation--hidden {
  display: none;
}


.recommendation--not-implemented {
  border-top-color: $not-implemented-color !important;
}

.recommendation--partially-implemented {
  border-top-color: $partially-implemented-color !important;
}

.recommendation--implemented {
  border-top-color: $implemented-color !important;
}

.recommendation--unclear {
  border-top-color: $unclear-color !important;
}

.recommendation__gist {
  margin-top: 0;
}

.recommendation__gist--collapsed {
  margin-bottom: 0;
}

.recommendation__status {
  display: inline-block;
  margin-bottom: 1em;
  padding: 0.4em;
  color: white;
}

.recommendation__status--not-implemented {
  background-color: $not-implemented-color;
}

.recommendation__status--partially-implemented {
  background-color: $partially-implemented-color;
}

.recommendation__status--implemented {
  background-color: $implemented-color;
}

.recommendation__status--unclear {
  background-color: $unclear-color;
}

.recommendation__updates {
  padding-left: 0;
}

.agencies {
  padding-left: 0;
}

.agency {
  display: inline-block;
  border: 1px solid black;
  padding: 0.4em;
  list-style-type: none;
}

.update {
  list-style-type: none;
}
